---
layout: default
---

<section id="hero" class="hero">
    <div class="hero__content">
        <p>
            <span>E ae!</span>
        </p>
        <p>
            Meu nome é Baltazar,<br>
            mas pode me chamar de Baltz.<br>
            Sou desenvolvedor de interfaces para web<br>
            e este é o meu blog.
        </p>
    </div>
    <div class="hero__img">
        <img src="hero-img.png" alt="Imagem de um poste, com um tênis nos fios">
    </div>

</section>
<div class="container">
    <h1 class="posts__title">Artigos</h1>
    {% for post in site.posts %}
        <article class="posts">

            <div class="post-img">

                {% if post.categories contains 'Javascript' %}
                    <img src="http://66.media.tumblr.com/tumblr_lsus01g1ik1qies3uo1_400.png" alt="Imagem para ilustrar tema da postagem">
                {% elsif post.categories contains 'CSS' %}
                    <img src="http://w3widgets.com/responsive-slider/img/css3.png" alt="Imagem para ilustrar tema da postagem">
                {% endif %}

            </div>

            <div class="post">

                <div>
                    <time>{{ post.date | date: "%d/%m/%Y" }}</time>
                </div>

                <h2>
                    <a class="posts__link" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </h2>

            </div>

        </article>
    {% endfor %}
</div>
