    <footer class="footer">

        <div class="container">
            <a class="footer__mail" href="mailto:baltazarparra@outlook.com?Subject=Hello%20again" target="_top">{{ site.email }}</a>
            <nav class="nav">
                <ul class="list">
                    <li class="list-item">
                        <a class="link" href="#">Github</a>
                    </li>
                    <li class="list-item">
                        <a class="link" href="#">Linkedin</a>
                    </li>
                    <li class="list-item">
                        <a class="link" href="#">Twitter</a>
                    </li>
                    <li class="list-item">
                        <a class="link" href="#">CV</a>
                    </li>
                </ul>
            </nav>
        </div>

    </footer>
    <script src="particleground.js"></script>
    <script>
    particleground(document.getElementById('hero'), {
        dotColor: '#2b2544',
        lineColor: '#2c2646',
        parallax: false
    });
    </script>
</body>
</html>
