.header {
    padding: 0 80px;
    display: flex;
    background-color: $color-sec;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.50);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
        box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 3px 5px rgba(0,0,0,0.30);
    }
    > .title {
        padding: 0 20px;
        font-size: 22px;
        line-height: 40px;
        transition: .3s;
    }
}

.title {
    flex: 1 1 auto;
    margin: 0;
}

.link {
    color: $color;
}

.list {
    display: flex;
    flex: 1 1 auto;
    margin: 0;
}

.list-item {
    list-style: none;
    margin: 0;
    > .link {
        line-height: 40px;
        padding: 0 12px;
        transition: .3s;
        &:hover {
            background-color: $color;
            color: $color-sec;
            text-decoration: none;
        }
    }
}

.hero {
    background-color: $color;
    color: $color-sec;
    position: relative;
    padding: 40px 80px 20px;
    margin-bottom: 100px;
    display: flex;
    &:after {
        background: inherit;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        outline: 1px solid transparent;
        box-shadow: 0 2px 4px rgba(0,0,0,0.22), 0 2px 4px rgba(0,0,0,0.50);
          bottom: 0;
        -webkit-transform: skewY(-3deg);
                transform: skewY(-3deg);
        -webkit-transform-origin: 100%;
                transform-origin: 100%;
    }
}

.hero__content {
    flex: 1 1 auto;
    padding: 0 40px;
    max-width: 700px;
    z-index: 2;
    > p {
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        > span {
            font-size: 60px;
        }
    }
}

.hero__img {
    flex: 1 1 auto;
    padding: 0 40px;
    z-index: 2;
    img {
        float: right;
    }
}

.footer {
    background: $color;
    color: $color-sec;
    position: relative;
    z-index: 1;
    padding: 10px 0;
    margin-top: 40px;
    display: flex;
    &:before {
        background: inherit;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        top: 0;
        transform: skewY(1.5deg);
        transform-origin: 100% 0;
        outline: 1px solid transparent;
    }
    .nav {
        display: inline-block;
        float: right;
    }
    .link {
        color: $color-sec;
    }
}

.footer__mail {
    color: $color-sec;
    display: inline-block;
}

.posts {
    padding: 20px;
    margin: 60px 0;
}

.posts__title {
    color: $color;
    font-size: 60px;
    margin: 60px 0;
}

.post {
    width: 50%;
    display: inline-block;
    time {
        color: $color;
    }
}

.post-img {
    display: inline-block;
    width: 80px;
    vertical-align: top;
    margin-top: 12px;
    margin-right: 12px;
    img {
        margin: 0;
        max-width: 60px;
    }
}

.posts__link {
    color: $color;
}

.content_post {
    padding: 60px 0;
}

.post-date {
    padding-bottom: 40px;
}

.post-title {
    color: $color;
}

.post-date {
    time {
        color: $color;
    }
}

.content_post {
    color: $color;
    h2 {
        color: $color;
    }
}

canvas {
    position: absolute;
    max-width: 90%;
}
