---
interface Props {
  segments: readonly string[];
  label?: string;
}

const { segments, label = segments.join("") } = Astro.props;
---

<span class="chroma-text" aria-label={label}>
  {
    segments.map((text) => (
      <span class="chroma-unit" aria-hidden="true">
        {text}
      </span>
    ))
  }
</span>
