html {
    background-color: #222;
    color: #ccc;
    padding: 0 1em;
    font-family: "Imbue", serif;
    font-optical-sizing: auto;
}

section:after {
    content: "";
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/1k_Dissolve_Noise_Texture.png");
    height: 300%;
    width: 300%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0.06;
    animation: animateGrain 12s steps(10) infinite;
    z-index: -1;
}

@keyframes animateGrain {

    0%,
    100% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, -20%)
    }

    30% {
        transform: translate(-5%, -10%)
    }

    40% {
        transform: translate(-15%, -20%)
    }

    50% {
        transform: translate(-5%, -10%)
    }

    60% {
        transform: translate(-15%, -20%)
    }

    70% {
        transform: translate(-5%, -10%)
    }

    80% {
        transform: translate(-15%, -20%)
    }

    90% {
        transform: translate(-5%, -10%)
    }

    100% {
        transform: translate(-15%, -20%)
    }

}

a {
    color: #666;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6em;
    z-index: 9;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 1em;
}

footer {
    position: absolute;
    bottom: 1em;
    font-size: 1.4em;
    z-index: 9;
}

ul {
    display: flex;
}

li {
    padding: 1em;
}

main {
    margin: 2em auto;
    z-index: 8;
    max-width: 1420px;
}

h2 {
    font-size: 6em;
    display: inline-block;
    line-height: 1;
}

h1 {
    margin-top: 1em !important;
    font-size: 2.4em;
}

article {
    margin: 1em;
}

img {
    border-radius: 100%;
    width: 100px;
    padding: .6em;
    transition: width .3s;
}

h3:hover img {
    width: 250px;
}

h3 {
    display: flex;
    align-items: center;
    cursor: grab;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

@media (max-height: 608px) {
    h2 {
        font-size: 4em;
    }

    main {
        max-width: 1280px;
    }
}

@media (max-width: 768px) {
    ul {
        position: fixed;
        bottom: 0;
        left: 0;
        font-size: .8em;
        justify-content: center;
        width: 100%;
    }

    footer {
        display: none;
    }

    h2 {
        font-size: 3.6em;
        text-align: center;
    }

    h1 {
        font-size: 1.6em;
        text-align: center;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 100vh;
    }

    img {
        display: none;
    }

    header {
        margin-top: .6em;
    }
}