.firstname {
  font-size: 6em;
  text-align: center;
  width: 260px;
  margin: 0 auto;
  line-height: 0.6;
  letter-spacing: 8px;
}

.surname {
  font-size: 6em;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  line-height: 0.6;
  letter-spacing: 8px;
}

.core {
  background-image: url(../public/bg.png);
  background-position: center;
  background-size: 25%;
  background-repeat: no-repeat;
  height: 600px;
  width: 100vw;
  margin-top: -12em;
  margin-bottom: -13em;
}

canvas {
  opacity: 0.9;
}
