.firstname {
  font-size: 6em;
  text-align: center;
  width: 260px;
  margin: 0 auto;
  line-height: 0.6;
  letter-spacing: 8px;
}

@media (min-width: 768px) {
  .firstname {
    font-size: 10em;
    width: 350px;
  }
}

@media (min-width: 1024px) {
  .firstname {
    width: 400px;
  }
}

.surname {
  font-size: 6em;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  line-height: 0.6;
  letter-spacing: 8px;
}

@media (min-width: 768px) {
  .surname {
    font-size: 10em;
    width: 350px;
  }
}

@media (min-width: 1024px) {
  .surname {
    width: 450px;
  }
}

.core {
  background-image: url(../public/bg.png);
  background-position: center;
  background-size: 25%;
  background-repeat: no-repeat;
  height: 600px;
  width: 100vw;
  margin-top: -12em;
  margin-bottom: -13em;
}

@media (min-width: 768px) {
  .core {
    background-size: 120px;
  }
}

@media (min-height: 875px) {
  .core {
    margin-top: -22em;
    margin-bottom: -23em;
    height: 100vh;
  }
}

canvas {
  opacity: 0.8;
}

footer {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #3c3c3c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

footer h2 {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  font-size: 4em;
  transform: rotate(-6deg);
  color: #d6d6d6;
}

footer small {
  font-family: sans-serif;
  color: #838383;
}

nav {
  z-index: 9;
}
