body {
  font-family: 'Sedgwick Ave Display', serif;
  line-height: 1.5;
  font-weight: 400;

  color: #3c3c3c;
  background-color: #d6d6d6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: none;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.bar {
  position: fixed;
  bottom: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 0;
  border: solid 1px;
  border-radius: 4px;
  background-color: #3c3c3c;
}

.bar li {
  list-style: none;
  padding: 0.4em 0;
}

.bar a {
  text-decoration: none;
  padding: 0.6em;
  color: white;
  font-size: 1.2em;
  font-family: sans-serif;
}

.parallax {
  position: fixed;
  top: -160px;
  left: 0;
  letter-spacing: 0px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  transform: rotate(-2deg);
  z-index: -1;
}

.parallax .scroller {
  font-weight: 600;
  font-size: 1.6em;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  padding: 0.3em;
  margin-top: 4px;
  border: solid 1px;
}

.parallax span {
  display: block;
  margin-right: 30px;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.anim {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

footer li {
  list-style: none;
  padding: 0.4em 1em;
}

footer a {
  color: #d6d6d6;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
}

footer h1 {
  color: #d6d6d6;
}

footer > canvas {
  position: absolute;
}

footer {
  cursor: url('https://make.studio/assets/images/cursor/pointer-c354874a.png') 32 32, pointer;
}

main {
  cursor: url('https://make.studio/assets/images/cursor/default-0e2139e7.png') 32 32, pointer;
}
