html {
    height: 100vh;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #000;
    color: #f0f0f0;
    font-family: "Courier New", monospace;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.2);
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #e0e0e0;
    transition: .3s;
}

a:hover {
    color: white;
}

b {
    color: #e0e0e0;
}

button {
    cursor: pointer;
}